.section--category {
  background-color: var(--grey-color);
  .card-tag {
    color: var(--white-color);
    background-color: var(--dark-brown-color);
    background-color: var(--primary-color);
  }
}
