button {
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: all 0.3s;
  &:hover {
    background-color: var(--dark-green-color);
  }
}
