:root {
  --black-color: #111;
  --white-color: #fff;
  --primary-color: #48a878;
  --dark-green-color: #3f9469;
  --soft-green-color: #99ca9c;
  --brown-color: #eeccac;
  --dark-brown-color: #ca8e55;
}
