:root {
  --black-color: #222;
  --white-color: #fff;
  --primary-color: #48a878;
  --dark-green-color: #3f9469;
  --soft-green-color: #99ca9c;
  --brown-color: #eeccac;
  --dark-brown-color: #ca8e55;
  --dark-brown-2-color: #a27244;
  --grey-color: #f5f5f5;
  --btn-color: #48a878;

  --nav-desktop-height: 5rem;
}
